.search-form {
  margin: 0 auto;
  position: relative;
}
.search-form input {
  padding: 18px;
  padding-left: 78px;
  background-color: #fff;
  width: 100%;

  height: 60px;
  border-color: #212121;
  border-width: 1px;

  border-radius: 5px;
}
.search-form__button {
  padding: 18px;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 58px;
  height: 58px;
  border-color: transparent;

  cursor: pointer;
}
